<footer class="bg-dark p-4 text-white text-center">
  <small>(c) 2020 Powered by Oséias Pereira in Brasil</small>
  <div class="icons">
    <a href="https://www.linkedin.com/in/oseiaspereira88/" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://oseiaspereira88.github.io/" target="_blank">
      <i class="fa fa-globe"></i>
    </a>
    <a href="https://www.facebook.com/oseiaspereira88/" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="https://instagram.com/oseiaspereira88" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>
    <a href="https://github.com/oseiaspereira88/" target="_blank">
      <i class="fa fa-github"></i>
    </a>
  </div>
</footer>